@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.home {
    display: flex;
    font-family: Roboto;
    .homeContainer {
        flex: 6;
        margin: 20px;

        .widgetContainer {
            display: flex;
            justify-content: space-evenly;
            padding: 0px 10px;
            gap: 20px;
        }

        .listContainer {
            padding: 0px 10px;
            border-radius: 5px;
            margin-top: 10px;     
       
            .listTitle {
                font-weight: 500;
                margin-bottom: 10px;
                color: gray;
            }

            .statsContainer {
                display: flex;
                align-items: center;
                .latestTransactionChart {
                    flex: 1;
                    padding: 0 10px;
                }
                .extraStats {
                    display: flex;
                    flex-direction: column;  
                    justify-content: space-evenly;
                    gap: 20px;
                    margin: 0;
                    width: 150px;
                    height: 350px;
                    padding-bottom: 30px;
                    // align-items: stretch;
                }
            }
        }
    }
}