@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.home {
    display: flex;
    font-family: Roboto;
    .homeContainer {
        flex: 6;
        margin: 20px;

        .widgetContainer {
            display: flex;
            justify-content: space-evenly;
            padding: 0px 10px;
            gap: 20px;
        }

        .listContainer {
            padding: 15px;
            border-radius: 5px;
            margin-top: 20px;            
            .listTitle {
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;
            }
        }
    }
}