@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.home {
    display: flex;
    font-family: Roboto;
    .homeContainer {
        flex: 6;

        .widgetContainer {
            display: flex;
            justify-content: space-evenly;
            padding: 20px;
            gap: 20px;
        }

        .listContainer {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 15px;
            border-radius: 5px;
            margin: 20px;
            
            .listTitle {
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;
            }
        }
    }
}