@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.widget {
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    height: 100px;
    color: black;

    .left {
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
    
        .title {
            font-weight: bold;
            font-size: 20px;
            color: gray;
        }

        p{ 
            font-weight: 300;
            font-size: 14px;
        }

        .counter {
            font-size: 28px;
        }

        .percentage {
            align-self: flex-end;
        }

        .icon {
            font-size: 50px;
            align-self: flex-end;
        }

    }

    .right-icon {
        color: lightgray;     
    }


}