@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.sidebar {
    font-family: 'Roboto';
    flex: 1;
    min-height: 100vh;

    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            padding-top: 40px;
            font-size: 20px;
            font-weight: bold;
        }
      }

    .center {
        

        ul {
            padding-left: 20px;
            padding-top: 50px;
            list-style: none;

            a {
                text-decoration: none;
            }

            a:visited {
                color: black;
            }

            li {
                display: flex;
                align-items: center;
                margin-bottom: 25px;

                span {
                    padding-left: 10px;
                }

                &:hover {    

                    cursor: pointer;
                }

            }
        }

    }


}

