@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.sales {
    display: flex;
    font-family: Roboto;
    .salesContainer {
        flex: 6;
        margin: 20px;

        .top {
            color: black;

            h1 {
                font-size: 30px;
                font-weight: 400;
            }

            p {
                font-weight: 300;
                margin: 10px 0px;
                font-size: 14px;
            }

        }

        .table {
          padding: 10px 0px;
        }
    }
}